---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam illum
    quaerat dolor iste fugit nostrum, veritatis tempore at minus quibusdam, amet
    iure, consequuntur incidunt quidem? Consectetur nulla excepturi architecto
    libero et, explicabo exercitationem reprehenderit a pariatur obcaecati
    distinctio voluptatum molestiae quibusdam quia dolore sit totam! Officiis ex
    voluptatum quaerat corrupti possimus dolor ipsam laborum commodi, pariatur
    totam adipisci sequi magnam id nulla a. Dolor, labore eligendi similique
    consequatur architecto eius adipisci officia, facere commodi vitae nam quae
    aut illo reiciendis, ipsum possimus libero iste maiores tempore? Ad
    architecto laudantium voluptate eius quidem nam dolores ipsa incidunt, est,
    nobis, dolor voluptatum.
  </p>
</Layout>
